<!DOCTYPE html>

<html>
    <head>
                {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{% static 'images/logo/logo3.ico' %}">
<title>Nasim Akhavan ::Offical</title>

        <meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
		<meta name="description" value="An example of a fluid/liquid/responsive full window width carousel with the previous and next image truncated on the sides." />
		<meta name="keywords" value="example, carousel, full, fluid, liquid, window, width" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
		<script src="{% static 'js/jquery.carouFredSel-6.0.4-packed.js'%}" type="text/javascript"></script>
		<script type="text/javascript">
			$(function() {
				$('#carousel').carouFredSel({
					width: '100%',
					items: {
						visible: 3,
						start: -1
					},
					scroll: {
						items: 1,
						duration: 1000,
						timeoutDuration: 3000
					},
					prev: '#prev',
					next: '#next',
					pagination: {
						container: '#pager',
						deviation: 1
					}
				});
			});
		</script>

<script type="text/javascript">
   $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>
 



    </head>
    
    <body>
        <div class="se-pre-con"></div>
        
       <header >
           <div id="head-bar"> 
                         <div id="smalllogo"></div>

           <div class="search inline">
                    <div id="global-nav">
                        <select id="search-options">
                            <option>All</option>
                            <option>Cloths</option>
                            <option>Jewelary</option>
                        </select>
                     <input type="search" id="searcher" placeholder="search..">
                        <button id="search-button" value="search" type="submit">Search</button>
                    </div>
                </div>
                <div class="bar inline">
                    <a href="/" id="home" class="inline">Home</a>
                    |
                    <a href="/contact" id="my-profile" class="inline">Contact Us</a>
            </div>
           </div> 
           <div id="name">
           <div id="nasim"></div>
           </div>
        </header>
        <header id="header" class="header">
            <div id="selector">
            <ul id="ul">
                
            <li class="li"><a href="/womens-wear" class="select" id="Womans_waer"> Woman's wear </a> </li>
            <li class="li"><a  class="select"> | </a> </li>
            <li class="li"> <a href="/accessories" class="select">Accesssories</a> </li>
               
            </ul>
                 </div>
           
            
        </header>
          <hr>

        <article id="main-body">
            
          
            <div id="pictures">
                <div id="wrapper">
			<div id="carousel">
                {%for img in images %}
                <img src="{{ img.image.url }}" alt="building1"
                 width="1000" height="450" />
                {% endfor %}

	<!-- 			<img src="{% static 'img/1.png' %}" alt="building1" width="990" height="450" />
				<img src="{% static 'img/2.png' %}" alt="building2" width="990" height="450" />
				<img src="{% static 'img/3.png' %}" alt="building3" width="990" height="450" />
				<img src="{% static 'img/4.png' %}" alt="building4" width="990" height="450" />
				<img src="{% static 'img/5.png' %}" alt="building5" width="990" height="450" />
				<img src="{% static 'img/6.png' %}" alt="building6" width="990" height="450" /> -->
			</div>
			<a href="#" id="prev" title="Show previous"> </a>
			<a href="#" id="next" title="Show next"> </a>
		</div>
        
            </div>
            
            <hr>
            <div id="news"> 
            {%for new in news|slice:":1"%}
                
                <img src="{{new.image.url}}" width="600" height="330">



            {%endfor%}
            </div>

                    <div id="connect">

            <h2> Let Us Be Connected...! </h2>
       
            <form method="get" action="">
                
                <input type="text" name="name" placeholder="Name" class="data1" style="color:black;" />
                <input type="text" name="phonenumber" placeholder="phone number" class="data1" style="color:black;" />
                <input type="email" name="email" placeholder="Email" class="data1" style="color:black;" />
                <input type="submit" value="Submit" class="data2">
            </form>
        
        </div>
        </article>
        <!-- Begin WebGozar.com Counter code -->
<script type="text/javascript" language="javascript" src="http://www.webgozar.ir/c.aspx?Code=3531892&amp;t=counter" ></script>
<noscript><a href="http://www.webgozar.com/counter/stats.aspx?code=3531892" target="_blank">&#1570;&#1605;&#1575;&#1585;</a></noscript>
<!-- End WebGozar.com Counter code -->
       
         <footer id="footer2">
            <a href="https://www.facebook.com/nasim.akhavanofficial"><div id="fb"></div></a>
            <a href="http://www.instagram.com/nasimakhavanofficial/"> <div id="insta"></div></a>
            <div id="INfotter1">&copy; 2015 Nasim Akhavan - All rights reserved</div>
            <div id="INfotter2">Desigend by Sina Akhavan</div>

        </footer>
        
        
    </body>